<div class="table-container">
  <table class="table">
    <thead>
      <tr class="header">
      @for(header of headers; track header) { <th>{{ header }}</th> }
      </tr>
    </thead>
    <tbody>
      @for (row of data; track row.id)
      {
        <tr class="row">
          @for (header of headers; track header)
          {
            @if (header === 'actions')
            {
              <td class="row-content action" >
                @for(action of row[header]; track action)
                {
                    @if(action === 'Delete'){
                      <button type="button" class="action-btn" (click)="onDelete(row)">
                        <img ngSrc="../../../../assets/trash-icon.svg" alt="trash" height="16" width="16">
                      </button>
                    } @else if (action === 'Edit'){
                      <button type="button" class="action-btn" (click)="onEdit(row)" [routerLink]="[editNav, row.id]">
                        <img ngSrc="../../../../assets/edit-icon.svg" alt="trash" height="16" width="16">
                      </button>
                    }
                }
              </td>
            }
            @else if (header === 'role') {
              <td class="row-content">
                {{row[header] | userAdmin}}
              </td>
            }
            @else
            {
              <td class="row-content">
                {{ row[header] }}
              </td>
            }
          }
        </tr>
      }
    </tbody>
  </table>
</div>
