.header-container{
  background: linear-gradient(to right, rgba(0, 166, 255, 0.7), #b6a9a9);;
  border-radius: 15px;
  height: 70px;
  align-content: center;
}

.header{
  display: flex;
  justify-content: space-evenly;
}

.header-content{
  text-decoration: none;
  color: black;
}
