<form [formGroup]="formGroup" class="form-container">
  @for(field of template; track field){
  <div class="text-input-group">
    <label [for]="field.key" class="input-label">{{ field.label }}</label>
    @switch (field.type){
      @case ('text'){
        <input
          [id]="field.key"
          [type]="field.type"
          [formControlName]="field.key"
          class="text-input"
          [placeholder]="field.label"
        />
      }
      @case ('number'){
        <input
          [id]="field.key"
          [type]="field.type"
          [formControlName]="field.key"
          class="text-input"
          [placeholder]="field.label"
        />
      }

      @case ('select'){
        <select
          [id]="field.key"
          [formControlName]="field.key"
          class="text-input"
        >
          @for(option of field.validations?.options; track option){
            <option [value]="option.value">
              {{ option.label }}
            </option>
          }
        </select>
      }
    }
    @if(getControl(field.key).dirty && getControl(field.key).invalid){
      <div class="error-message">
        @if(getControl(field.key).hasError('required')){
          <span>This field is required</span>
        }
        @else if(getControl(field.key).hasError('minlength')){
          <span>
            the minimum length of this field is: {{ field.validations?.minlength }} !
          </span>
        }
        @else if(getControl(field.key).hasError('pattern')){
         <span>{{ field.validations?.errorMessage }}</span>
        }
        @else if(getControl(field.key).hasError('phoneNumber')){
          <span>{{ field.validations?.errorMessage }}</span>
        }
        @else if(getControl(field.key).hasError('exactLength')){
          <span>{{ field.validations?.errorMessage }}</span>
        }
        @else if (getControl(field.key).hasError('symbol')){
          <span>{{ getControl(field.key).errors?.['symbol'] + field.key }}</span>
        }
        @else if (getControl(field.key).hasError('noWhiteSpace')){
          <span>{{ getControl(field.key).errors?.['noWhiteSpace'] }}</span>
        }
      </div>
    }
  </div>
  }
  <button type="submit" class="form-btn" [disabled]="formGroup.invalid" [routerLink] = [this.navigation]
          (click)="formGroup.valid && onSubmit($event)">
    Submit
  </button>
</form>
