html, body{
  height: 100%;
  margin: 0;
  background: url("../public/logo-main-background.png");
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}

.root{
  background: url("../public/secondry-background.png");
  background-size: cover;
  background-position: center;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
